@r:50rem;
.lay {
    height: 100px;
    width: 100px;
    background-color: red;
  }
.seach_wrap{
    .search{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        box-sizing: border-box;
        background-color: #EFEFEF;
        .topti{
            height: 1.66rem;
            box-sizing: border-box;
            background-color: #FFFFFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20/@r;            
          }
          .fillkey{
              height: 60/@r;
              width: 577/@r;
              border-radius: 30/@r;
              background-color: #EFEFEF;
              display: flex;
              justify-content: space-between;
              align-items: center;
              box-sizing: border-box;
              padding: 0 17/@r;
              input{
                  background-color: #EFEFEF;
                  border: none;
                  width: 450/@r;
              }


          }
          .seachbuttom{
              font-size: 28/@r;
              color: #fb3812;
              line-height: 80/@r;

          }
          .hot_sea{
              height: auto;
              width: 100%;
              overflow: hidden;
              .tit{
                  font-size: 24/@r;
                  color: #666666;
                  line-height: 60/@r;
                  box-sizing: border-box;
                  padding-left: 20/@r;
              }
              .hot_keys{
                  overflow: hidden;
                  ul{
                      display: flex;
                      justify-content: flex-start;
                      flex-wrap: wrap;
                      box-sizing: border-box;
                      padding: 0 40/@r;
                      li{
                          height: 50/@r;
                          width: auto;
                          padding: 0 50/@r;
                          line-height: 50/@r;
                          text-align: center;
                          font-size: 30/@r;
                          color: #fb3812;
                          background-color: #FFFFFF;
                          margin-right: 35/@r;
                          margin-bottom: 20/@r;
                          border-radius: 5/@r;
                      }
                  }
              }
          }
      }
      
}
